<div class="container">
    <h1>What's the purpose of this web application?</h1>
    <section class="intro">
        <p>This web application is a simple pokedex made by <a href="https://alexandrospappas.com/" target="_blank">Alexandros Pappas</a> for educational purposes <br> <br>
        <b>how does it work?</b> <br> <br>
        it's a simple page that take data from an API and we give you the results. Then pass the data into a inner page for more details. We use angular services, observables, data databindings , lifecycle hooks
        </p>
    </section>    
    <section class="angular-features">
        <header>
            <h1>Pokedex Application Development Overview</h1>
        </header>
        <p>In the construction of my Pokedex application, I meticulously utilized Angular's comprehensive framework features to craft a dynamic and responsive web experience. The application showcases my adeptness with Angular through the following features:</p>
        
        <p>This Pokedex application stands as a testament to my proficiency in leveraging Angular to build sophisticated, high-quality web applications. It demonstrates a deep understanding of Angular's ecosystem and a commitment to creating intuitive, performant, and visually appealing web experiences.</p>

    </section>  
</div>