.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    min-height: calc(100vh - 92.2px - 4rem);
    width: 75%;
    margin: auto;
    margin-top: 4rem;
}
.intro{
    text-align: center;
}
.portfolio-link{
    color: #0a2738;
}
.angular-features {
    text-align: center;
}
.angular-features h1{
    margin-bottom: 1rem;; 
}
@media(width < 450px){
    .container h1{
        text-align: center;
    }
}