<div class="container">
    <h1>What's the purpose of this web application?</h1>
    <p>This web application is a simple pokedex made by <a href="https://alexandrospappas.com/" target="_blank">Alexandros Pappas</a> for educational purposes</p>
    <p>
        how does it work? <br>
        it's a simple page that take data from an API and we give you the results. Then pass the data into a inner page for more details. We use angular services, observables, data databindings , lifecycle hooks
    </p>
    <section>
        <header>
            <h1>Pokedex Application Development Overview</h1>
        </header>
        <p>In the construction of my Pokedex application, I meticulously utilized Angular's comprehensive framework features to craft a dynamic and responsive web experience. The application showcases my adeptness with Angular through the following features:</p>
        
        <article>
            <h2>Angular Services</h2>
            <p>Central to fetching and managing data from an API, Angular Services ensure a unified and efficient handling of the application's data logic.</p>
        </article>
    
        <article>
            <h2>RxJS Observables</h2>
            <p>By integrating Observables, the app benefits from reactive programming techniques, enabling efficient management of asynchronous data streams for real-time updates.</p>
        </article>
    
        <article>
            <h2>Data Binding</h2>
            <p>Angular's data binding is employed to maintain a seamless and instantaneous synchronization between the application's data model and its presentation layer, enriching the user interface with dynamic content.</p>
        </article>
    
        <article>
            <h2>Lifecycle Hooks</h2>
            <p>These hooks provide insight into the components' lifecycle, allowing for optimized data fetching strategies and resource management, thereby enhancing app performance.</p>
        </article>
    
        <article>
            <h2>Angular Router</h2>
            <p>Facilitates sophisticated page navigation within the app, ensuring a smooth user experience as they transition from the general Pokémon list to detailed Pokémon profiles.</p>
        </article>
    
        <article>
            <h2>Pipes</h2>
            <p>Utilized for transforming displayed values within templates, Pipes enable formatting and filtering of data directly in the view, improving the readability and user experience without altering the original data.</p>
        </article>
    
        <article>
            <h2>Animations</h2>
            <p>Angular's animation capabilities are harnessed to add visual flair and intuitive feedback to user interactions, making the application not only more engaging but also providing a polished look and feel.</p>
        </article>
    
        <p>This Pokedex application stands as a testament to my proficiency in leveraging Angular to build sophisticated, high-quality web applications. It demonstrates a deep understanding of Angular's ecosystem and a commitment to creating intuitive, performant, and visually appealing web experiences.</p>

    </section>
    
</div>