<div class="pokemon-container">
    <div class="card" *ngFor="let pokemon of pokemons" (click)="onPokemonSelect(pokemon.name)">
        <div class="card-head">
            <div *ngIf="!pokemon.imageLoaded" class="loader"></div>

            <img src="{{pokemon.img}}" (load)="pokemon.imageLoaded = true" alt="pokemon {{pokemon.name}}" loading="lazy">
        </div>
        <div class="card-body">
            <span>ID: {{ pokemon.id }}</span>
            <span>Name: {{ pokemon.name | titlecase }}</span>
            <span>Weight: {{ pokemon.weight }} Kg</span>
        </div>  
    </div>
</div>