.pokemon-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
}
.card{
    border: 1px solid;
    border-radius: 15px;
    width: -webkit-fill-available;  
    width: -moz-available;
    max-width: 300px;
}
.card-head{
    text-align: center;
    border-bottom: 1px solid;   
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}