<div class="pokemon-container">
    <div class="card" *ngIf="pokemonD">
        <div class="card-head">
            <img src="{{pokemonD.img}}" alt="pokemon ">
        </div>
        <div class="card-body">
            <span>ID: {{pokemonD.id}}</span>
            <span>Name: {{pokemonName | titlecase}} </span>
            <span>Weight: {{pokemonD.weight}}  Kg</span>
            <span>Type(s): {{pokemonD.type}}</span>
            <span>Stats: </span>
            <div class="stats-container">
                <span *ngFor="let stat of pokemonD.stats" class="stat-container">
                    <hr>
                    {{stat.name}}:  {{stat.baseStat}}
                </span>
            </div>            
        </div>  
    </div>
</div>